@{
    ViewData["Title"] = "Welcome!";
    Layout = "Base";
}

<div class="container">
    <div>
        <p class="text-landingpage">This is a sample Social Media App</p>
        <div class="container-form">
            <a type="button" class="btn btn-secondary btn-lg" asp-controller="LandingPage" asp-action="Login">Try it now!</a>
        </div>
    </div>
</div>

